body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  background-color: ghostwhite;
}

main {
  padding: 20px 0;
}

.photo {
  text-align: center;
}

.photo img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
}

h1 {
  text-align: center;
  font-size: 28px;
  margin: 20px 0;
  color: darkolivegreen;
}

.links {
  width: 300px;
  margin: 0 auto;
  list-style: none;
  font-size: 18px;
}

.links a {
  color: steelblue;
  text-decoration: none;
}

.links li {
  margin: 8px 0;
}

.links a svg {
  vertical-align: middle;
  margin-right: 2px;
  width: 20px;
  height: 20px;
  fill: dimgray;
  color: dimgray;
}

.links a span {
  vertical-align: middle;
}
